#miniconten {
    font-size: 45px;
}

#miniconten > #correo {
    width: 350px; 
    height: 35px; 
    margin-left: 30px; 
    border: none; 
    font-size: 50px;
}
#boton {
    margin-left: 35%;
    background-color: #1E90FF;
    font-size: 22px;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 8px;
    cursor: pointer;
}
